<%= render 'manager/shared/menu' %>

<div class="well">
    <div class="nav nav-pills">
        <li role="presentation" class="active"><a class="btn btn-info" href="<%= new_manager_video_path %>">Создать видеозапись</a></li>
    </div>
</div>
<div class="well">
    <div class="panel panel-primary">
        <div class="panel-heading">Список всех Видео</div>
        <div class="panel-body">
            <div class="list-group">
                <% @videos.each do |video| %>
                    <button type="button" class="list-group-item"><span style="color: #337ab7;"><%= video.id %></span> | <%= truncate(video.title, lenght: 60) %> <%= link_to 'Удалить', manager_video_path(video), method: :delete, data: { confirm: 'Вы уверены?' }, class: 'btn btn-danger', style: 'float: right; margin-left: 10px;' %><a href="<%= edit_manager_video_path(video) %>" style="float: right;" class="btn btn-warning">Редактировать</a><%= link_to 'Просмотреть', league_video_path(video.league, video), class: 'btn btn-success', style: 'float: right; margin-right: 10px;' %></button>
                <% end %>
            </div>
        </div>
    </div>
    <%= will_paginate @videos %>
</div>