<div class="row-onlain center-block js-time">
    <div class="panel panel-default"> 
        <div class="panel-heading"> 
            <h2 class="panel-title text-left">Онлайн Трансляции</h2>
        </div> 
        <div class="panel-body" id="match-today">
            <div class="table">
                <div class="col-sm-4 match-toggle"><span class="match-toggle-span" onclick="$('.match-toggle-span').css({'background': 'transparent','color': '#333333'});$(this).css({'background': '#33383c', 'color': '#FFF'});$('.table-onlain').hide();$('#played').show();">Вчера</span></div>
                <div class="col-sm-4 match-toggle"><span class="match-toggle-span" onclick="$('.match-toggle-span').css({'background': 'transparent','color': '#333333'});$(this).css({'background': '#33383c', 'color': '#FFF'});$('.table-onlain').hide();$('#playing').show();">Сегодня</span></div>
                <div class="col-sm-4 match-toggle"><span class="match-toggle-span" onclick="$('.match-toggle-span').css({'background': 'transparent','color': '#333333'});$(this).css({'background': '#33383c', 'color': '#FFF'});$('.table-onlain').hide();$('#will-play').show();">Завтра</span></div>
                
                    <table style="display: none;" class="table table-onlain" id="played">
                        <%= render 'shared/leagues/apl_played' %>
                        <%= render 'shared/leagues/bl_played' %>
                        <%= render 'shared/leagues/seria_a_played' %>
                        <%= render 'shared/leagues/sp_played' %>
                        <%= render 'shared/leagues/chempions_league_played' %>
                        <%= render 'shared/leagues/ua_played' %>
                        <%= render 'shared/leagues/ru_played' %>
                        <%= render 'shared/leagues/cup_played' %>
                        <%= render 'shared/leagues/el_played' %>
                    </table>
                    
                    <table class="table table-onlain" id="playing">
                        <%= render 'shared/leagues/apl_playing' %>
                        <%= render 'shared/leagues/bl_playing' %>
                        <%= render 'shared/leagues/seria_a_playing' %>
                        <%= render 'shared/leagues/sp_playing' %>
                        <%= render 'shared/leagues/chempions_league_playing' %>
                        <%= render 'shared/leagues/ua_playing' %>
                        <%= render 'shared/leagues/ru_playing' %>
                        <%= render 'shared/leagues/cup_playing' %>
                        <%= render 'shared/leagues/el_playing' %>
                    </table>
                    
                    <table style="display: none;" class="table table-onlain" id="will-play">
                        <%= render 'shared/leagues/apl_will_play' %>
                        <%= render 'shared/leagues/bl_will_play' %>
                        <%= render 'shared/leagues/seria_a_will_play' %>
                        <%= render 'shared/leagues/sp_will_play' %>
                        <%= render 'shared/leagues/chempions_league_will_play' %>
                        <%= render 'shared/leagues/ua_will_play' %>
                        <%= render 'shared/leagues/ru_will_play' %>
                        <%= render 'shared/leagues/cup_will_play' %>
                        <%= render 'shared/leagues/el_will_play' %>
                    </table>
                
            </div>
        </div>
    </div>
</div>
 <%= form_tag onlain_game_path, id: 'onlain-submit', remote: true do %>
 <% end %>

<script>
    (function(){
        $(".clickable-row").click(function() {
            window.document.location = $(this).data("href");
        });

        var tz = new Date().getTimezoneOffset()/60;
        if(tz == -2) {
            var timeZone = -1;
            $('.js-time .table tr .time').each(function(){
                var e = $(this);
                var el = e.text().split('');
                if(el[2] == ':') {
                    var correctTime = parseInt(el[0]+el[1]) - timeZone + el[2] + el[3] + el[4];
                    e.children().text(correctTime);
                }
            })
        }
    })();
</script>