<%= render 'manager/shared/menu' %>

<div class="well">
    <div class="nav nav-pills">
        <li role="presentation" class="active"><a class="btn btn-info" href="<%= new_manager_article_path %>">Создать статью</a></li>
    </div>
</div>
<div class="well">
    <div class="panel panel-primary">
        <div class="panel-heading">Список всех Статей</div>
        <div class="panel-body">
            <div class="list-group">
                <% @articles.each do |article| %>
                    <button type="button" class="list-group-item"><span style="color: #337ab7;"><%= article.id %></span> | <span style="color: #337ab7;"><%= article.category %></span> | <%= truncate(article.title, lenght: 60) %> <%= link_to 'Удалить', manager_article_path(article), method: :delete, data: { confirm: 'Вы точно хотите удалить?' }, class: 'btn btn-danger', style: 'float: right; margin-left: 10px;' %><a href="<%= edit_manager_article_path(article) %>" style="float: right;" class="btn btn-warning">Редактировать</a><%= link_to 'Просмотреть', league_article_path(article.league, article), class: 'btn btn-success', style: 'float: right; margin-right: 10px;' %></button>
                <% end %>
            </div>
        </div>
    </div>
    <%= will_paginate @articles %>
</div>