<div class="panel panel-primary">
    <div class="panel-heading">Добавить запись</div>
    <div class="panel-body">

        <div class="well">
            
            <%= render 'manager/shared/errors', model: model %>   
        
            
            <%= form_for model, url: (model.new_record? ? manager_matches_path : manager_match_path) do |f| %>
         
                <div class="form-group">
                    <%= f.label :league, 'Выбрать лигу:' %><br>
                    <%= f.label :league, 'Англия', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'apl', required: 'required' %><br>
                    <%= f.label :league,'Испания', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'laliga', required: 'required' %><br>
                    <%= f.label :league, 'Германия', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'bundesliga', required: 'required' %><br>
                    <%= f.label :league,'Италия', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'seria-a', required: 'required' %><br>
                    <%= f.label :league, 'Лига Чемпионов', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'chempions-league', required: 'required' %><br>
                    <%= f.label :league, 'Украина', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'ukraine', required: 'required' %> <br>
                    <%= f.label :league, 'Россия', style: 'width: 150px;' %>
                    <%= f.radio_button :league, 'russian', required: 'required' %>
                </div>
                <div class="form-group">
                    <%= f.label :homeTeamName %>
                    <%= f.select :homeTeamName, options_for_select(Team.all.map {|team| [team.name]}), {}, { class: 'selectpicker', required: true, 'data-live-search': true } %>
                </div>
                <div class="form-group">
                    <%= f.label :awayTeamName %>
                    <%= f.select :awayTeamName, options_for_select(Team.all.map {|team| [team.name]}), {}, { class: 'selectpicker', required: true, 'data-live-search': true } %>
                </div>
                <div class="form-group date-form-control">
                    <%= f.label :date, 'Дата проведения матча(MSK)' %> <br>
                    <%= f.datetime_select :date, class: 'form-control', required: true, style: 'width: 250px;' %>
                </div>
                <div class="form-group">
                    <%= f.label :status %>
                    <%= f.select :status, options_for_select([["POSTPONED"], ["TIMED"], ["FT"], ["FINISHED"], ["SCHEDULED"], ["IN_PLAY"]]), {}, { class: 'form-control', style: 'width: 150px', required: true } %>
                </div>
                <div class="form-groupl">
                    <%= f.label :matchday %> <br>
                    <%= f.text_field :matchday, class: 'form-control', required: true, style: 'width: 100px;' %>
                </div>
                <div class="form-groupl">
                    <%= f.label :goalsHomeTeam %> <br>
                    <%= f.text_field :goalsHomeTeam, class: 'form-control', required: true, style: 'width: 100px;' %>
                </div>
                <div class="form-groupl">
                    <%= f.label :goalsAwayTeam %> <br>
                    <%= f.text_field :goalsAwayTeam, class: 'form-control', required: true, style: 'width: 100px;' %>
                </div>
                
                
                <div class="form-group">
                    <% if model.new_record? %>
                        <%= f.submit 'Добавить', class: 'btn btn-primary' %>
                    <% else %>
                        <%= f.submit 'Обновить', class: 'btn btn-primary' %>
                    <% end %>
                </div>
            <% end %> 
        </div>
    </div>
</div>
<script>
    $(function(){
        $('.date-form-control > select').addClass('form-control').css({'width': '100px', 'display': 'inline-block'});
    })
</script>