<div class="well">
    <ul class="nav nav-pills">
        <li role="presentation"><a href="<%= manager_root_path %>">Dashboard</a></li>
        <li role="presentation"><a href="<%= manager_articles_path %>">Cтатьи</a></li>
        <li role="presentation"><a href="<%= manager_pictures_path %>">Cтатьи(Доп)</a></li>
        <li role="presentation"><a href="<%= manager_videos_path %>">Видео</a></li>
        <li role="presentation"><a href="<%= manager_onlains_path %>">Онлайн</a></li>
        <li role="presentation"><a href="<%= manager_teams_path %>">Команды</a></li>
        <li role="presentation"><a href="<%= manager_players_path %>">Игроки</a></li>
        <li role="presentation"><a href="<%= manager_tables_path %>">Таблица</a></li>
        <li role="presentation"><a href="<%= manager_matches_path %>">Матчи</a></li>
    </ul>
</div>