
  <div class="container-fluid container-fluid-custom-first">
    <div class="col-xs-2 col-sm-1 text-center search" onclick="Search();"><i class="glyphicon glyphicon-search"></i></div>
    <div class="col-xs-4 col-sm-5 text-right logo-area hidden-xs"><h6 class="main-logo"><a href="<%= root_path %>"><i class="sprite sprite-Logo_NF"></i></a></h6></div>
    <div class="col-xs-offset-6 header-profile text-right pull-right">
      
      <ul class="nav nav-pills">
        <% if signed_in? && current_user %>
          <li>
            <% if current_user && current_user.avatar.presence %>
                <%= image_tag current_user.avatar.url(:thumb), :style => "height: 40px;" %>
            <% else %>
              <% if current_user && current_user.avatarc.presence %>
                <%= image_tag current_user.avatarc, :style => "height: 40px;" %>
                <% else %>
                  <img src="/images/default-avatar.png" alt="foto" style="height: 40px;" />
              <% end %>
            <% end %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Профиль<span class="caret"></span></a>
            <ul class="dropdown-menu custom-dropdown-menu">
              <li><a href="#" class="header-link" rel="nofollow">Просмотреть</a></li>
              <% if current_user %>
              <li><a href="<%= edit_user_path(current_user) %>" rel="nofollow">Редактировать</a></li>
              <% end %>
              
              <li><%= link_to('Выйти', destroy_user_session_path, :method => :delete, :rel => 'nofollow') %> </li>
            </ul>
          </li>
        <% else %>
          <li><a href="#" data-toggle="modal" data-target="#authModal" rel=="nofollow"><i class="fa fa-user" aria-hidden="true"></i> Авторизация</a></li>
        <% end %> 
      </ul>
      
    </div>
  </div>
  
  
  
 
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" onclick="$('.leagues-team-container, .leagues-submenu-container').stop( true, true ).toggle('slow');">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav"> 
        <li class="dropdown pull-left">
          <a href="<%= root_path %>" class="dropdown-toggle">
            <div class="league league-col">
              <span class="short-logo">NF</span>
              <div>Главная</div>
            </div>
          </a>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('chempions-league') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-lc"></i><i class="sprite_header sprite_hover sprite-cl_hover"></i>
              <div class="chemp-leag">Л<span class="hidden-sm">ига</span> Ч<span class="hidden-sm">емпионов</span></div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('chempions-league') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            
            <li><a href="<%= fixtures_league_path('chempions-league') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('chempions-league') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('chempions-league') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('chempions-league') %>"><i class="sprite sprite-video"></i>Видео</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('russian') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-rfpl"></i><i class="sprite_header sprite_hover sprite-rfpl_hover"></i>
              <div>Россия</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('russian') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            <li><a href="<%= fixtures_league_path('russian') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('russian') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('russian') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('russian') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm header-teams-russian">
              <% @teams_all.where(league: 'russian').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team header-team-russian"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('ukraine') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-upl"></i><i class="sprite_header sprite_hover sprite-upl_hover"></i>
              <div>Украина</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('ukraine') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            
            <li><a href="<%= fixtures_league_path('ukraine') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('ukraine') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('ukraine') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('ukraine') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm header-teams-ukraine">
              <% @teams_all.where(league: 'ukraine').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team header-team-ukraine"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('apl') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-apl"></i><i class="sprite_header sprite_hover sprite-apl_hover"></i>
              <div>Англия</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('apl') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>     
            <li><a href="<%= fixtures_league_path('apl') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('apl') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('apl') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('apl') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm" style="left: -400px;box-shadow: -20px 6px 20px -14px rgba(0,0,0,0.175);">
              <% @teams_all.where(league: 'apl').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('laliga') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-laliga"></i><i class="sprite_header sprite_hover sprite-laliga_hover"></i>
              <div>Испания</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('laliga') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            <li><a href="<%= fixtures_league_path('laliga') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('laliga') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('laliga') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('laliga') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm" style="left: -400px;box-shadow: -20px 6px 20px -14px rgba(0,0,0,0.175);">
              <% @teams_all.where(league: 'laliga').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="<%= league_path('bundesliga') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-bundesliga"></i><i class="sprite_header sprite_hover sprite-bundesliga_hover"></i>
              <div>Германия</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('bundesliga') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            
            <li><a href="<%= fixtures_league_path('bundesliga') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('bundesliga') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('bundesliga') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('bundesliga') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm" style="left: -400px;box-shadow: -20px 6px 20px -14px rgba(0,0,0,0.175);">
              <% @teams_all.where(league: 'bundesliga').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>
        
        <li class="dropdown">
          <a href="<%= league_path('seria-a') %>" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-seria_a"></i><i class="sprite_header sprite_hover sprite-seria_a_hover"></i>
              <div>Италия</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-left">
            <li><a href="<%= league_path('seria-a') %>" class="header-link"><i class="sprite sprite-basic"></i>Основное</a></li>
            
            <li><a href="<%= fixtures_league_path('seria-a') %>"><i class="sprite sprite-calendar"></i>Календарь</a></li>
            <li><a href="<%= results_league_path('seria-a') %>"><i class="sprite sprite-results"></i>Результаты</a></li>
            <li><a href="<%= table_league_path('seria-a') %>"><i class="sprite sprite-table"></i>Таблица</a></li>
            <li><a href="<%= league_videos_path('seria-a') %>"><i class="sprite sprite-video"></i>Видео</a></li>
            <div class="header-teams-wrapper hidden-sm hidden-sm" style="left: -400px;box-shadow: -20px 6px 20px -14px rgba(0,0,0,0.175);">
              <% @teams_all.where(league: 'seria-a').each do |team| %>
                <a href="<%= team_path(team) %>">
                  <span class="header-team"><i class="sprite <%= show_team_icon team.name %> icon-small"></i><%= team_translater team.name %></span>
                </a>
              <% end %>
            </div>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle">
            <div class="league league-col">
              <i class="sprite_header sprite-more"></i><i class="sprite_header sprite_hover sprite-more_hover"></i>
              <div>Еще</div>
            </div>
          </a>
          <ul class="dropdown-menu pull-right">
            <li><a href="<%= league_news_index_path('all') %>"><i class="sprite sprite-news"></i>Новости</a></li>
            <li><a href="<%= league_articles_path('all') %>"><i class="sprite sprite-articles"></i>Статьи</a></li>
            <li><a href="<%= league_videos_path('all') %>" class="header-link"><i class="sprite sprite-video"></i>Видео</a></li>
            <li><a href="#"><i class="sprite sprite-tv"></i>Телепрограмма</a></li>
            <li><a href="#"><i class="sprite sprite-foto"></i>Фото</a></li>
            <li><a href="#"><i class="sprite sprite-rating-uefa"></i>Рейтинг FIFA</a></li>
            <li><a href="#"><i class="sprite sprite-rating-uefa"></i>Рейтинг UEFA</a></li>
          </ul>
        </li>
          
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <a href="<%= root_path %>" class="main-for-mobile">Главная</a>
  </nav>
  
  <script>
    function Search(){
      $('.search-wrapper').slideDown(250);
      $('.search-overlay').show();
    }
    function Searchhide(){
      $('.search-overlay').hide();
      $('.search-wrapper').slideUp(250);
    }
    
    (function (){
      var uaEl  = $('.header-team-ukraine');
      var ruEls = $('.header-teams-russian');
      var ruEl  = $('.header-team-russian');
      var el    = $('.header-team i');
      ruEls.css({'padding-bottom': '3px'})
      ruEl.css({'padding': '16px 0 16px 0', 'padding-left': '25px'}).children().css({'top': '27px'});
      uaEl.css({'padding': '24px 0 24px 0', 'padding-left': '20px'}).children().css({'top': '43px'});
  
      if(navigator.userAgent.indexOf("Firefox") > 0) {
        el.css({'top': '-2px'});
        ruEl.children().css({'top': '4px'});
        uaEl.css({'padding-left': '25px'}).children().css({'top': '10px'});
      }
    })();
  </script>