<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, :cache => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :cache => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag %>
  <meta name="google-site-verification" content="XEOkbrqNV20rahm1HHzFukYRkFU4lTjBT-hvm7Cy5vc" />
  <!--google analitics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-89314310-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--google analitics end  -->
</head>
<body class="<%= controller.controller_name %> <%= @editional_class %>">

  <%= render 'layouts/header' %>
  <%= render 'layouts/additional_header' %>
    
  <div class="container">
    <%= render 'layouts/messages' %>

    <%= yield %>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
  
  <!--modals-->
  <%= render 'layouts/modals/modal_contact' %>
  <%= render 'layouts/modals/modal_auth' %>

</body>
</html>
