<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, :cache => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :cache => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="google-site-verification" content="XEOkbrqNV20rahm1HHzFukYRkFU4lTjBT-hvm7Cy5vc" />
</head>
<body class="<%= controller.controller_name %> <%= @editional_class %>">
  
  <%= render 'layouts/header' %>
  <%= render 'layouts/additional_header' %>
    
  <div class="container">
    <%= render 'layouts/messages' %>

    <%= yield %>
  </div>
  <%= debug(params) if Rails.env.development? %>
  <%= render 'layouts/footer' %>
  
  <!--modals-->
  <%= render 'layouts/modals/modal_contact' %>
  <%= render 'layouts/modals/modal_auth' %>

</body>
</html>
